@model Contract.Responses.PlayResponse

<div>
    <h4>@Model.Dialogue.Name</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<table style="width:100%" >
    <tr>
        <th style="width:60%">
            @foreach(var element in Model.Dialogue.Issues.OrderBy(i=>i.IssueNr))
            {
                <div>
                    @Html.Label(element.Actor.Name + ":", new { @style = "color:deepskyblue" })
                    @if(!Model.Setting.SelectActor.HasValue)
                    {
                        if (Model.Setting.VisableOtherText)
                        {
                            <p>@element.Text</p>
                        }
                    }
                    else if ((element.ActorId == Model.Setting.SelectActor.Value && Model.Setting.VisableMyText) || element.ActorId != Model.Setting.SelectActor.Value && Model.Setting.VisableOtherText)
                    {
                        <p>@element.Text</p>
                    }

                    <audio id="play-issue @element.IssueNr">
                        <source src="PlayAudio?fileId=@element.IssueId" type="audio/mpeg" />
                    </audio> 
                    <button onclick="PlayIssue(@element.IssueNr)">Play</button> 
                </div>
            }

            <button onclick="PlayDialogue(@Model.Setting.)">Play</button> 

        </th>
        <th style="width:auto"> @Html.Partial("PlaySetting") </th>
    </tr>
</table>

<script>
    function PlayIssue(nr)
    {
        document.getElementById("play-issue " + nr).play();
    };

    function PlayDialogue(nr)
    {
    }

</script>


