@model Contract.Responses.PlayResponse

<div>
    <h4>@Model.Dialogue.Name</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<table style="width:100%" >
    <tr>
        <th style="width:60%">
            @foreach (var element in Model.Dialogue.Issues.OrderBy(i => i.IssueNr))
            {
                <div>
                    @Html.Label(element.Actor.Name + ":", new { @style = "color:deepskyblue" })
                    @if (Model.Setting.SelectActor == null)
                    {
                        if (Model.Setting.VisableOtherText)
                        {
                            <p>@element.Text</p>
                        }
                    }
                    else if ((element.ActorId == Model.Setting.SelectActor && Model.Setting.VisableMyText) || element.ActorId != Model.Setting.SelectActor && Model.Setting.VisableOtherText)
                    {
                        <p>@element.Text</p>
                    }

                    <audio id="play-issue @element.IssueNr">
                        <source src="PlayAudio?fileId=@element.IssueId" type="audio/mpeg" />
                    </audio> 
                    <button onclick="PlayIssue(@element.IssueNr)" class="glyphicon glyphicon-volume-down"></button> 
                </div>
            }
            @if (@Model.Setting.SelectActor != null)
            {
                <button onclick="PlayDialogue(@Model.Setting.IdNowPlay, @Model.Dialogue.DialogueId, @Model.Setting.SelectActor)" class="glyphicon glyphicon-play"></button>
            }
            else
            {
                <button onclick="PlayDialogue(@Model.Setting.IdNowPlay, @Model.Dialogue.DialogueId, -1)" class="glyphicon glyphicon-play"></button>
            }
            <button onclick="StopDialoguePlay(@Model.Setting.IdNowPlay)" class="glyphicon glyphicon-pause"></button>

        </th>
        <th style="width:auto"> @Html.Partial("PlaySetting") </th>
    </tr>
</table>

<script>
    $numer = -1;
    function PlayIssue(nr)
    {
        document.getElementById("play-issue " + nr).play();
    };

    function StopDialoguePlay(nr)
    {
        var ply = document.getElementById("play-issue " + nr).pause();
    };

    function PlayDialogue(nr, id, idActor)
    {
        if ($numer == -1)
        {
            $numer = nr;
        }

        $.ajax({
            url: '@Url.Action("PlayDialogue", "DialoguePlay")',
            data: { nr: $numer, idDialogue: id, idActor: idActor },
            success: function (data) {
                $numer = data;
                document.getElementById("play-issue " + data).play();
            },
            error:function (xhr, ajaxOptions, thrownError){
                alert(xhr.responseText);

            }    
        });

        
    }

</script>


