@model Model.Models.Issue

<div>
    @if (Model.AudioFile != null)
    {
            @Html.DisplayNameFor(model => model.AudioFile.FileName)
    }
    else
    {
        using (Html.BeginForm("Upload", "AudioFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.IssueId)
            @Html.HiddenFor(model => model.DialogueId)
            @Html.HiddenFor(model => model.IssueNr)
            @Html.HiddenFor(model => model.Text)

            @Html.TextBox("file", "", new { type = "file" })

            <input type="submit" value="Upload" />
        }
    }
    @*<div>
        @Html.Partial("~/Views/Issue/CreateIssue.cshtml", new Issue { DialogueId = Model.Dialogue.DialogueId, IssueNr = (Model.Dialogue.Issues.Count + 1), Dialogue = Model.Dialogue })
    </div>
    <div>
        @Html.Partial("~/Views/Issue/IssueList.cshtml", Model.Dialogue.Issues)
    </div>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.IssueNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DialogueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DialogueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorId)
        </dd>*@
</div>
