@model Model.Models.Issue

@Ajax.ActionLink("Open popup", "RecordAudio","AudioFile",Model, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })<br />

   <div>
    @if (Model.AudioFile != null)
    {
        @Html.DisplayNameFor(model => model.AudioFile.FileName)
    }
    else
    {
        using (Html.BeginForm("Upload", "AudioFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.IssueId)
            @Html.HiddenFor(model => model.DialogueId)
            @Html.HiddenFor(model => model.IssueNr)
            @Html.HiddenFor(model => model.Text)

            @Html.TextBox("file", "", new { type = "file" })

            <button onclick="openPopup()"></button>


        }
    }
</div>
