@model Model.Models.Issue
<div>
    @if (Model.AudioFile != null)
    {
        @Html.DisplayFor(model => model.AudioFile.FileName)
        <audio id="play-issue @Model.IssueId">
            <source src="@Url.Action("PlayAudio","DialoguePlay", new {fileId = Model.IssueId})" type="audio/mpeg" />
        </audio>
        <button onclick="PlayIssue(@Model.IssueId)" class="glyphicon glyphicon-volume-down"></button>
    }
    @using (Html.BeginForm("Upload", "AudioFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IssueId)
        @Html.HiddenFor(model => model.DialogueId)
        @Html.HiddenFor(model => model.IssueNr)
        @Html.HiddenFor(model => model.Text)

        @Html.TextBox("file", "", new { type = "file", id=$"file{Model.IssueId}"})

        @Html.Partial("~/Views/AudioFile/RecordAudio.cshtml")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    }

</div>

<script>
    function PlayIssue(nr) {
        document.getElementById("play-issue " + nr).load();
        document.getElementById("play-issue " + nr).play();
    };
</script>
