@model AplikacjaLingwistyczna.Models.UploadFileDto

<div>
    @if (Model.Issue.AudioFile != null)
    {
            @Html.DisplayNameFor(model => model.Issue.AudioFile.FileName)
    }
    else
    {
        using (Html.BeginForm("Upload", "AudioFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <div class="editor-field">
                    @Html.Hidden("Issue", Model.IssueId)
                    @Html.Hidden("Issue", Model.DialogueId)
                    @Html.TextBox("File", "", new { type = "file" })
                </div>
                <div class="editor-field">
                    <input type="submit" value="Upload" />
                </div>
            </fieldset>
        }
    }
    @*<div>
        @Html.Partial("~/Views/Issue/CreateIssue.cshtml", new Issue { DialogueId = Model.Dialogue.DialogueId, IssueNr = (Model.Dialogue.Issues.Count + 1), Dialogue = Model.Dialogue })
    </div>
    <div>
        @Html.Partial("~/Views/Issue/IssueList.cshtml", Model.Dialogue.Issues)
    </div>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.IssueNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DialogueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DialogueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorId)
        </dd>*@
</div>
