@using AplikacjaLingwistyczna.Models
@model IEnumerable<Model.Models.Issue>

<table class="table">
    <tr>
        <th>
            @Html.Display("Tekst")
        </th>
        <th>
            @Html.Display("Aktor")
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.IssueNr)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actor.Name)
        </td>
        <td>
            @Html.Partial("~/Views/AudioFile/ViewAudioFile.cshtml", item)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit","Issue", new { positionId = item.IssueNr, idDialogue = item.DialogueId }, new { @class = "glyphicon glyphicon-edit" })  |
            @Html.ActionLink(" ", "ChangePosition","Issue", new { positionId = item.IssueNr, idDialogue = item.DialogueId, direction = 1 }, new { @class = "glyphicon glyphicon-chevron-down" }) 
            @Html.ActionLink(" ", "ChangePosition", "Issue", new { positionId = item.IssueNr, idDialogue = item.DialogueId, direction = -1 }, new { @class = "glyphicon glyphicon-chevron-up" }) |
            @Html.ActionLink(" ", "Delete", "Issue", new { positionId = item.IssueNr, idDialogue = item.DialogueId }, new { @class = "glyphicon glyphicon-remove" })
         @*   @Html.ActionLink("Lista Audio", "Delete", new { positionId = item.IssueNr, idDialogue = item.Id })*@
        </td>
    </tr>
}

</table>
