@using Contract.Dtos
@using Contract.Enum
@model DialogueViewDto

<h4>@Model.Dialogue.Name</h4>
<hr />

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#General">Ogólne</a></li>
    <li><a data-toggle="tab" href="#Actors">Aktorzy</a></li>
    <li><a data-toggle="tab" href="#Issue">Kwestie</a></li>
</ul>

<div class="tab-content">
    @if (Model.ActiveDialogueEditWindow == DialogueEditWindow.GeneralWindow)
    {
        <div id="General" class="tab-pane fade in active">
            @Html.Partial("EditGeneral", Model)
        </div>
    }
    else
    {
        <div id="General" class="tab-pane fade">
            @Html.Partial("EditGeneral", Model)
        </div>
    }

    @if (Model.ActiveDialogueEditWindow == DialogueEditWindow.ActorWindow)
    {
        <div id="Actors" class="tab-pane fade in active">
            @Html.Partial("~/Views/Actor/ViewActor.cshtml", Model)
        </div>
    }
    else
    {
        <div id="Actors" class="tab-pane fade">
            @Html.Partial("~/Views/Actor/ViewActor.cshtml", Model)
        </div>
    }

    @if (Model.ActiveDialogueEditWindow == DialogueEditWindow.IssueWindow)
    {
        <div id="Issue" class="tab-pane fade in active">
            @Html.Partial("~/Views/Issue/ViewIssue.cshtml", Model)
        </div>
    }
    else
    {
        <div id="Issue" class="tab-pane fade">
            @Html.Partial("~/Views/Issue/ViewIssue.cshtml", Model)
        </div>
    }
</div>

<div>
    @Html.ActionLink("Wróć do listy", "GetPage")
</div>
